<h1> About </h1>

<p>
John Goedert is a Junior Software Engineer, with years of experience developing projects written in C++ and Python. He is currently shifting his focus to web application development, focusing on JavaScript and Ruby on Rails.
<img src="https://hosting.photobucket.com/images/i/johngoedert/shanghai.JPG?width=1920&height=1080&fit=bounds">
</p>