<div class="banner">
    <ul>
        <li><img src= https://hosting.photobucket.com/images/i/johngoedert/Screen_Shot_2020_10_11_at_2.02.21_PM.png?width=1920&height=1080&fit=bounds ></li>
        <li><img src= https://hosting.photobucket.com/images/i/johngoedert/Screen_Shot_2020_10_11_at_1.58.38_PM.png?width=1920&height=1080&fit=bounds ></li>
        <li><img src= https://hosting.photobucket.com/images/i/johngoedert/Screen_Shot_2020_10_11_at_1.55.45_PM.png?width=1920&height=1080&fit=bounds ></li>
    </ul>
</div>

<script src="//unslider.com/unslider.js"></script>

<script> 
$(function() {
    $('.banner').unslider();
});
</script>